fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
python-dotenv
requests
ipykernel
pytest
httpx
pytest-asyncio
pydantic>=2.0
email-validator
aiosqlite
greenlet
